.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  font-family: $font-style-primary;

  & .hero_info {
    width: 80%;

    & h1 {
      margin-bottom: 3rem;
    }
    & p {
      font-weight: $font-weight-regular;
      margin-bottom: 2rem;
      width: 65%;
    }
  }
}
