.flex {
  justify-content: space-between;
  align-items: center;
}

.nav {
  // overflow: hidden;
  // width: 100%;
  overflow-x: hidden;
  // overflow-y: visible;
  font-family: $font-style-primary;

  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
  & ul {
    gap: 2rem;
  }
}

.capsuleOne {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -10;
  overflow-x: hidden;

  & img {
    position: relative;
    top: -170px;
    right: -150px;
  }
}
