.reviews {
  margin-top: 100px;
  &_header {
    // color: $primary-blue;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  & .btn {
    // this solution works for centering inline block
    /* margin-top: 60px;
    margin-left: 50%;
    transform: translateX(-50%); */

    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  &_list {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    &-items {
      background-color: $neutral-light-gray;
      position: relative;

      & img {
        position: absolute;
        width: 80px;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
      }

      & h3 {
        margin-top: 55px;
        text-align: center;
      }

      & p {
        margin-top: 15px;
        text-align: center;
        padding-left: 15px;
        padding-right: 20px;
      }
    }
  }
}
