// Breakpoints

$mobile: 375px;
$desktop: 1440px;

/* Colors */

// Primary
$primary-bright-red: hsl(12, 88%, 59%);
$primary-blue: hsl(228, 39%, 23%);
// Neutral
$neutral-dark-gray-blue: hsl(227, 12%, 61%);
$neutral-dark-blue: hsl(233, 12%, 13%);
$neutral-pale-red: hsl(13, 100%, 96%);
$neutral-light-gray: hsl(0, 0%, 98%);

/* Typography */

// fonts names
$font-style-primary: "Be Vietnam", sans-serif;
// fonts weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
